@model ServiciosRestaurantes.Models.Restaurante

@{
    ViewData["Title"] = "Agregar Restaurante";
}

<div class="row">
    <div class="col-sm-6">
        <h2>Ingresar datos del:</h2>
    </div>
    <div class="col-sm-6">
        <h2>Restaurante</h2>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label asp-for="Nombre" class="control-label"></label>
                    </div>
                    <div class="col-sm-5">
                        <input asp-for="Nombre" class="form-control" />
                    </div>
                    <div class="col-sm-5">
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label asp-for="Descripcion" class="control-label"></label>
                    </div>
                    <div class="col-sm-5">
                        <input asp-for="Descripcion" class="form-control" />
                    </div>
                    <div class="col-sm-5">
                        <span asp-validation-for="Descripcion" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label asp-for="Telefono" class="control-label"></label>
                    </div>
                    <div class="col-sm-5">
                        <input asp-for="Telefono" class="form-control" placeholder="(506)8585-4004" />
                    </div>
                    <div class="col-sm-5">
                        <span asp-validation-for="Telefono" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="Agregar" class="btn btn-outline-primary" />
                <a class="btn btn-group btn-outline-secondary" asp-action="Index">Regresar al Listado</a>
            </div>
        </form>
    </div>
</div>
<hr />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
