@model ServiciosRestaurantes.Models.Restaurante

@{
    ViewData["Title"] = "Actualizar Restaurante";
}
<div class="row">
    <div class="col-sm-4">
        <h2>Actualizar los datos del:</h2>
    </div>
    <div class="col-sm-8">
        <h2>Restaurante @Model.Nombre</h2>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdRestaurante" />
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label asp-for="Nombre" class="control-label"></label>
                    </div>
                    <div class="col-sm-5">
                        <input asp-for="Nombre" class="form-control" />
                    </div>
                    <div class="col-sm-5">
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label asp-for="Descripcion" class="control-label"></label>
                    </div>
                    <div class="col-sm-5">
                        <input asp-for="Descripcion" class="form-control" />
                    </div>
                    <div class="col-sm-5">
                        <span asp-validation-for="Descripcion" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label asp-for="Telefono" class="control-label"></label>
                    </div>
                    <div class="col-sm-5">
                        <input asp-for="Telefono" class="form-control" />
                    </div>
                    <div class="col-sm-5">
                        <span asp-validation-for="Telefono" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="Actualizar" class="btn btn-outline-primary" />
                <a asp-action="Index" class="btn btn-outline-warning">Regresar al listado</a>
            </div>
        </form>
    </div>
</div>
<hr />


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
